.print-sti-first .print-hiv-table tbody tr td:nth-child(n+3),
.print-hiv-table tbody tr td:nth-child(n+3) {
  padding: 0px;
}

.labsti-list {
  display: none;
}

.print-coheader-list ul {
  width: 100%;
  padding: 0px 6%;
}




.printResultTable div table tbody tr .covid-td {
  padding: 0px;
}

.print-sti-urine .print-hiv-table tr td:nth-child(n+3) {
  padding: 0px;
}

.print-tr {
  padding-left: 0.5rem !important;
  height: 36px;
  padding-top: 6px;
}

.viralLoad-container {
  max-width: 100%;
  justify-content: center;
}

.viralLoad-arso {
  width: 20%;
}

.viralLoad-dateResult {
  margin-top: 10px;
  margin-bottom: 10px;
}




#tbrow {
  font-size: 14px;
  height: auto;
}


#borderimg {
  border: 10px solid transparent;
  margin: auto;
  padding-left: 50px;
  border-image: url(/border.png) 30 stretch;
}

#toshowResult {
  margin: auto;
}



#main {
  padding: 0px;
  display: flex;
}


#main div:nth-of-type(1) {
  flex-grow: 1;
}

#main div:nth-of-type(2) {
  flex-grow: 1;
}

#main div:nth-of-type(3) {
  flex-grow: 1;
}

#myBlueDiv {
  animation: mymove 5s infinite;
}

#printPtInfo {
  color: #000000;
  border-bottom-style: dotted;
  margin: 0% 2%;
}


.print-coheader-list  li {
  float: left;
  list-style: none;
}

.print-coheader-list  li:nth-child(2n) {
margin-right: 3%;
  padding-right: 1%;

}

.first-li {
  margin-right: 0.5%;
}


.print-coheader-list  li:last-child {
  margin-right: 0%;
  border-right: none;
}

.print-hiv-footer  li {
  float: left;
  list-style: none;
}

.print-hiv-footer  {
 padding: 0px 5%;
  color: #000000;
  width: 100%;
}
#printResultTable tbody tr td:nth-child(n+2){
  text-align: left;
}


.print-hiv-footer  li:nth-child(2n) {
  margin-right: 9.5%;

  padding-right: 1%;
}
.print-hiv-footer  li:last-child{
  margin-right: 0%;
}

.print-header .hiv-p {
  border-bottom: 1px solid #EF5B0C;
  float: right;
  margin-right: 43%;
  font-weight: 900;

}

.print-hiv-table td:first-child {
  width: 10px;
}
/* .print-hiv-table thead tr:first-child,
.print-sti-first thead tr:first-child ,.print-sti-urine tr:first-of-type
.print-urine table thead tr:first-child {
  font-weight: 900;
} */
.table thead tr:first-child {
  font-weight: 900;
}
.print-sti-first tbody tr td:nth-of-type(n+3) {
  padding: 0px;
}
.print-sti-first tbody tr td .print-tr{
  padding-left: 0.5rem !important;
  padding-top: 9px;
}
.print-sti-urine thead td .print-tr,.print-sti-urine tbody td .print-tr{
  padding-left: 0.5rem !important;
  padding-top: 0px;
  height: 0%;

}
.print-sti-urine thead td,.print-sti-urine tbody td {
  padding: 6px 0% 0% 0%;
}
.print-sti-urine tbody tr td:nth-of-type(2){
  width: 20%;
}.print-sti-urine tbody tr td:nth-of-type(4) {
  border-right: 1px solid #000000;
}
.print-sti-urine tbody tr td:nth-of-type(6){
  width: 15%;
}
.print-sti-first{
  margin-bottom: 0%;
}
.print-hbc-footer {
  padding: 0% 15%;
}
.print-hbc-table {
  width: 60%;
  border: 1px solid #000000;
}
.print-hbc-table td{
  border: 1px solid #000000;
}
.print-urine-table td,.print-oi-table td {
  padding: 0px;
  border: 1px solid #000000;
}

.print-urine-table td:nth-child(2),.print-urine-table td:nth-child(4),.print-urine-table td:nth-child(5),
.print-oi-table td:nth-child(2) {
  padding-left: 0.5rem !important;
}
.print-urine-table td .print-tr,.print-oi-table td .print-tr{
  padding-left: 0.5rem !important;
  height: 0%;
  padding-top: 0%;
}
.print-oi-table{
  width: 70%;
}
.print-hiv-table,
.print-hiv-table td,
.print-hiv-table tr {
  border-collapse: collapse;
  border: 1px solid #000000;
  padding-top: 6px;
  padding-bottom: 0px;
  height: 36px;
}
.print-hiv-table{
  width: 50%;
}
.print-sti-first 

.table> :not(:first-child) {
  border-top: 1px solid currentColor;
}




@keyframes mymove {
  50% {
    flex-grow: 8;
  }
}

.print-header {
  color: black;
  width: 100%;
  padding-left: 1%;
  padding-top: 15px;
  margin-bottom: 0%;
}



.lab-nav {
  width: 80%;
  margin-left: 2%;
}

.lab-nav li {
  width: 25%;
}

.lab-containers {
  padding-bottom: 20px;
  border: 1px solid #1C82AD;
  background: #003865 no-repeat center/cover;
}

.lab-form {
  padding-left: 1.9%;
  padding-right: 1.9%;
  background: no-repeat center/cover;

}

.lab-second-link a {
  color: #D4F6CC;
  padding: 0.5rem 0px;
}

.lab-second-link li {
  margin-right: 2%;
}

.lab-second-link li:last-child {
  margin-right: 0px;
}

.lab-incon {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lab-incon-div {
  max-width: 100%;
  margin: 0px;
}

.sti-table {
  color: #F1F6F5;
  margin-bottom: 30px;
}

.label-year {
  float: left;
  margin-right: 3%;
  border: 1px solid #F0CAA3;
  padding: 10px 5%;
}

.label-sex {
  float: left;
  margin-right: 3%;
  border: 1px solid #F0CAA3;
  padding: 10px 5%;
}

.lab-year {
  float: left;
  width: 41%;
  height: 50px;
}

.lab-sex {
  float: left;
  width: 62%;
  height: 50px;
}

.lab-year-div {
  width: 12%;

  padding-right: 0px;
}

.lab-year-sex {
  width: 16%;
  height: 50px;
  padding-right: 0px;
}

.risk-label {
  border: 1px solid #F0CAA3;
  padding: 10px 3%;
  display: inline-block;
}

.main-risk {
  width: 35%;
}

.mrisk-data,
.srisk-data {
  width: 72%;
  float: right;

}

.srisk-data {
  width: 65%;
}

.rdt-test,
.tire_lastVisit {
  width: 20%;
}


.lab-date {
  width: 20%;
}

.rpr-comment {
  width: 60%;
}

.print-sti-footer {
  padding-left: 13.5%;
}

.print-dispaly {
  display: none;
}

.urine-analyzer {
  border: 1px solid #dae4e9;
  margin-top: 10px;
  padding-bottom: 10px;

}

.urine-comment {
  width: 100%;
}

.afb-sample {
  color: #77e326;
}

.afb-slidedata,
.afb-slide,
.afb-sample {
  justify-content: center;
  margin-top: 15px;
}

.afb-slidedata .col-sm-4:first-child,
.afb-slide .col-sm-4:first-child,
.afb-sample .col-sm-4:first-child {
  margin-right: 10%;
}

.afb-slidedata label,
.afb-slide label,
.afb-sample label {
  text-align: center;
  display: block;
  margin-bottom: 5px;

}

.finder-table table tr td:nth-of-type(1) {
  width: 5%;
}

.finder-table table {
  text-align: center;
}

.finder-table table thead tr {
  color: rgb(241, 246, 245);
}


.lab-technician {
  margin-right: 50%;
}

.oi-indLink {
  justify-content: center;
}

@media screen and (min-width: 600px) and (max-width: 1160px) {

  .print-sti-first .print-hiv-table tbody tr td:nth-child(n+3),
  .print-hiv-table tbody tr td:nth-child(n+3) {
    padding: 0px;
  }


  .printResultTable div table tbody tr .covid-td {
    padding: 0px;
  }

  .print-sti-urine .print-hiv-table tr td:nth-child(n+3) {
    padding: 0px;
  }

  .print-tr {
    padding-left: 0.5rem !important;
  }

  .viralLoad-container {
    max-width: 100%;
    justify-content: center;
  }

  .viralLoad-arso {
    width: 20%;
  }

  .viralLoad-dateResult {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  input {
    height: 45px;
  }

  select {
    height: 45px;
  }

  span {
    font-size: 16px;
  }

  #tbrow {
    font-size: 14px;
    height: auto;
  }


  #borderimg {
    border: 10px solid transparent;
    margin: auto;
    padding-left: 50px;
    border-image: url(/border.png) 30 stretch;
  }

  #toshowResult {
    margin: auto;
  }



  #main {
    padding: 0px;
    display: flex;
  }


  #main div:nth-of-type(1) {
    flex-grow: 1;
  }

  #main div:nth-of-type(2) {
    flex-grow: 1;
  }

  #main div:nth-of-type(3) {
    flex-grow: 1;
  }

  #myBlueDiv {
    animation: mymove 5s infinite;
  }

  #printPtInfo {
    color: #000000;
    border-bottom-style: dotted;
    margin-left: 2%;
    margin-right: 2%;
  }


  .print-coheader-list ul li {
    float: left;
    list-style: none;
  }

  .print-coheader-list ul li:nth-child(2n) {

    padding-right: 1%;

  }

  .first-li {
    margin-right: 0.5%;
  }

  .print-coheader-list ul li:last-child {
    margin-right: 0%;
    border-right: none;
  }

  .print-hiv-footer ul li {
    float: left;
    list-style: none;
  }

  .print-hiv-footer ul {
    padding-left: 10.5%;
    color: #000000;
  }


  .print-hiv-footer ul li:nth-child(2n) {
    margin-right: 6.5%;

    padding-right: 1%;
  }

  .print-header .hiv-p {
    border-bottom: 1px solid #EF5B0C;
    float: right;
    margin-right: 43%;
    font-weight: 900;

  }

  .print-hiv-table td:first-child {
    width: 10px;
  }

  .print-hiv-table,
  .print-hiv-table td,
  .print-hiv-table tr {
    border-collapse: collapse;
    border: 1px solid #000000;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .table> :not(:first-child) {
    border-top: 1px solid currentColor;
  }




  @keyframes mymove {
    50% {
      flex-grow: 8;
    }
  }

  .print-header {
    color: black;
    width: 100%;
    padding-left: 3%;
    padding-top: 20px;
  }



  .lab-nav {
    width: 80%;
    margin-left: 2%;
  }

  .lab-nav li {
    width: 25%;
  }

  .lab-containers {
    padding-bottom: 20px;
    border: 1px solid #1C82AD;
    background: #003865 no-repeat center/cover;
  }

  .lab-form {
    padding-left: 1.9%;
    padding-right: 1.9%;
    background: no-repeat center/cover;

  }

  .lab-second-link a {
    color: #D4F6CC;
    padding: 0.5rem 0px;
  }

  /* .lab-second-link li {
  margin-right: 8%; 
} */
  .lab-second-link li:last-child {
    margin-right: 0px;
  }

  .lab-incon {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .lab-incon-div {
    max-width: 100%;
    margin: 0px;
  }

  .sti-table {
    color: #F1F6F5;
    margin-bottom: 30px;
  }

  .label-year {
    float: left;
    margin-right: 3%;
    border: 1px solid #F0CAA3;
    padding: 10px 5%;
  }

  .label-sex {
    float: left;
    margin-right: 3%;
    border: 1px solid #F0CAA3;
    padding: 10px 5%;
  }


  .lab-year {
    float: left;
    width: 55%;
    height: 50px;
  }

  .lab-year-div {
    width: 30%;

    padding-right: 0px;
  }

  .lab-year-sex {
    width: 39%;
    height: 50px;
    padding-right: 0px;
  }

  .risk-label {
    border: 1px solid #F0CAA3;
    padding: 10px 0%;
    width: 30%;
    text-align: center;
    display: inline-block;
  }

  .mrisk-data,
  .srisk-data {
    width: 65%;
    float: right;

  }

  .main-risk,
  .sub-risk {
    width: 50%;
    margin-top: 10px;
  }


  .hiv-bloodDate {
    width: 100%;
  }

  .hiv-bloodDate input {
    width: 35%;
  }

  .hiv-bloodDate label {
    text-align: left;
  }

  .hiv-test {
    width: 50%;
  }

  .hiv-issue,
  .lab-issueDate {
    width: 37%;
  }






  .print-sti-footer {
    padding-left: 13.5%;
  }

  .print-dispaly {
    display: none;
  }

  .urine-analyzer {
    border: 1px solid #dae4e9;
    margin-top: 10px;
    padding-bottom: 10px;

  }

  .urine-comment {
    width: 100%;
  }

  .genral-info {
    justify-content: center;
  }

  .general-task {
    width: 50%;
    margin-bottom: 10px;
  }

  .lab-sex {
    float: left;
    width: 68%;
    height: 50px;
  }


  .rpr-comment {
    width: 100%;
  }

  .rdt-test {
    width: 25%;
  }

  .rdt-test:nth-of-type(n+1):nth-of-type(-n+2) {
    width: 50%;
  }

  .tire_lastVisit {
    width: 50%;
  }

  .rdt-test:nth-of-type(3) {
    width: 20%;
  }

  .rdt-test:nth-of-type(4) {
    width: 30%;
  }

  .rdt-test:last-of-type {
    width: 50%;
  }

  .lab-date {
    width: 50%;
  }

  .lab-counsellor {
    width: 31%;
  }

  .sti-table tbody tr td .form-select {
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
  }

  .hbc-test {
    width: 50%;
  }

  .urine-analyzer div {
    width: 33%;
  }

  .oi-tb {
    width: 100%;
  }

  .oi-tb label {
    text-align: left;
  }

  .oi-tb select {
    width: 25%;
  }

  .oi-toxoanti {
    width: 43%;
  }

  .oi-dilu {
    width: 40%;
    margin-bottom: 10px;
  }

  .oi-giemsa {
    width: 100%;
  }

  .gt-homodl,
  .gt-hba1c,
  .gt-result {
    width: 50%;
  }

  .oi-csf,
  .oi-serum,
  .oi-lymph,
  .oi-smear {
    width: 43%;
  }

  .gt-sgs {
    width: 33%;
  }

  .gt-dangueRdt {
    width: 28%;
  }

  .gt-ns1 {
    width: 22%;
  }

  .gt-rdt {
    width: 50%;
  }

  .gt-malria {
    width: 100%;
  }

  .gt-malria label {
    text-align: left;
  }

  .gt-malria select {
    width: 30%;
  }

  #stDrow_1 div:nth-of-type(1) {
    width: 100%;

  }

  #stDrow_1 div:nth-of-type(1) label {
    text-align: left;
  }

  #stDrow_1 div:nth-of-type(1) select {
    width: 30%;
  }

  #stDrow_1 div:nth-of-type(n+2):nth-of-type(-n+4) {
    width: 33%;
  }

  .afb-reasonExam {
    width: 100%;
  }

  .afb-reasonExam input {
    width: 31%;
  }

  .afb-reasonExam label {
    text-align: left;
  }

  .afb-previous {
    width: 33%;
  }

  .afb-reasonRow div:nth-of-type(n+3) {
    width: 33.33%;
  }

  .afb-diagnosis {
    width: 33.333%;
  }

  .afb-slide div,
  .afb-slidedata div {
    width: 36%;
  }

  .covid-age {
    width: 33.33%;
  }

  /* .covid-age input {
  width: 80%;
} */
  .covid-tpatient {
    width: 65.777%;
  }

  /* .covid-tpatient input {
  width: 41%;
} */
  .covid-testType {
    width: 33.333%;
  }

  .covid-comment {
    width: 100%;
  }

  .viralLoad-arso:nth-child(1) {
    width: 35%;
  }

  /* .viralLoad-arso:nth-child(1) label {
  text-align: left;
} */
  .viralLoad-arso:nth-child(2) {
    width: 30%;
  }

  .viralLoad-arso:last-of-type {
    width: 38%;
  }

  .viralLoad-dateResult div {
    width: 35%;
  }

  .viralLoad-arso {
    width: 35%;
    margin-bottom: 10px;
  }

  .finder-row div:nth-of-type(1) {
    width: 60%;
  }

  .finder-row div:nth-of-type(2) {
    width: 40%;
  }

  .lab-technician {
    width: 32%;
    margin-right: 31%;
  }

  .save-updte button {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
  }

  #urine select {
    padding: 0px;
  }

  .labsti-list {
    display: none;
  }




  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */




}

@media screen and (max-width: 599.9px) {

  .print-sti-first .print-hiv-table tbody tr td:nth-child(n+3),
  .print-hiv-table tbody tr td:nth-child(n+3) {
    padding: 0px;
  }


  .printResultTable div table tbody tr .covid-td {
    padding: 0px;
  }

  .print-sti-urine .print-hiv-table tr td:nth-child(n+3) {
    padding: 0px;
  }

  .print-tr {
    padding-left: 0.5rem !important;
  }

  .viralLoad-container {
    max-width: 100%;
    justify-content: center;
  }

  .viralLoad-arso {
    width: 20%;
  }

  .viralLoad-dateResult {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  input {
    height: 45px;
  }

  select {
    height: 45px;
  }

  span {
    font-size: 16px;
  }

  #tbrow {
    font-size: 14px;
    height: auto;
  }


  #borderimg {
    border: 10px solid transparent;
    margin: auto;
    padding-left: 50px;
    border-image: url(/border.png) 30 stretch;
  }

  #toshowResult {
    margin: auto;
  }



  #main {
    padding: 0px;
    display: flex;
  }


  #main div:nth-of-type(1) {
    flex-grow: 1;
  }

  #main div:nth-of-type(2) {
    flex-grow: 1;
  }

  #main div:nth-of-type(3) {
    flex-grow: 1;
  }

  #myBlueDiv {
    animation: mymove 5s infinite;
  }

  #printPtInfo {
    color: #000000;
    border-bottom-style: dotted;
    margin-left: 2%;
    margin-right: 2%;
  }


  .print-coheader-list ul li {
    float: left;
    list-style: none;
  }

  .print-coheader-list ul li:nth-child(2n) {

    padding-right: 1%;

  }

  .first-li {
    margin-right: 0.5%;
  }

  .print-coheader-list ul li:last-child {
    margin-right: 0%;
    border-right: none;
  }

  .print-hiv-footer ul li {
    float: left;
    list-style: none;
  }

  .print-hiv-footer ul {
    padding-left: 10.5%;
    color: #000000;
  }


  .print-hiv-footer ul li:nth-child(2n) {
    margin-right: 6.5%;

    padding-right: 1%;
  }

  .print-header .hiv-p {
    border-bottom: 1px solid #EF5B0C;
    float: right;
    margin-right: 43%;
    font-weight: 900;

  }

  .print-hiv-table td:first-child {
    width: 10px;
  }

  .print-hiv-table,
  .print-hiv-table td,
  .print-hiv-table tr {
    border-collapse: collapse;
    border: 1px solid #000000;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .table> :not(:first-child) {
    border-top: 1px solid currentColor;
  }




  @keyframes mymove {
    50% {
      flex-grow: 8;
    }
  }

  .print-header {
    color: black;
    width: 100%;
    padding-left: 3%;
    padding-top: 20px;
  }



  .lab-nav {
    width: 80%;
    margin-left: 2%;
  }

  .lab-nav li {
    width: 25%;
  }

  .lab-containers {
    padding-bottom: 20px;
    border: 1px solid #1C82AD;
    background: #003865 no-repeat center/cover;
  }

  .lab-form {
    padding-left: 1.9%;
    padding-right: 1.9%;
    background: no-repeat center/cover;

  }

  .lab-second-link a {
    color: #D4F6CC;
    padding: 0.5rem 0px;
  }

  /* .lab-second-link li {
  margin-right: 8%; 
} */
  .lab-second-link li:last-child {
    margin-right: 0px;
  }

  .lab-incon {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .lab-incon-div {
    max-width: 100%;
    margin: 0px;
  }

  .sti-table {
    color: #F1F6F5;
    margin-bottom: 30px;
  }



  .label-year,
  .label-sex {
    float: none;
    margin-right: 0%;
    border: none;
    padding: 0%;
  }




  .lab-year {
    float: none;
    width: 100%;
    height: 50px;
  }

  .lab-year-div {
    width: 33.333%;

    padding-right: 0px;
  }

  .lab-year-sex {
    width: 33.33%;
    height: 50px;
    padding-right: 4%;
  }

  .risk-label {
    border: 1px solid #F0CAA3;
    padding: 10px 0%;
    width: 30%;
    text-align: center;
    display: inline-block;
  }

  .mrisk-data,
  .srisk-data {
    width: 65%;
    float: right;

  }

  .main-risk,
  .sub-risk {
    width: 100%;
    margin-top: 10px;
  }


  .hiv-bloodDate {
    width: 100%;
  }

  .hiv-bloodDate input {
    width: 55%;
  }

  .hiv-bloodDate label {
    text-align: left;
  }

  .hiv-test {
    width: 50%;
  }

  .hiv-issue,
  .lab-issueDate {
    width: 58%;
  }

  .save-updte div {
    width: 50%;
  }







  .print-sti-footer {
    padding-left: 13.5%;
  }

  .print-dispaly {
    display: none;
  }

  .urine-analyzer {
    border: 1px solid #dae4e9;
    margin-top: 10px;
    padding-bottom: 10px;

  }

  .urine-comment {
    width: 100%;
  }

  .genral-info {
    justify-content: center;
  }

  .general-task {
    width: 50%;
    margin-bottom: 10px;
  }

  .general-task:nth-child(3) {
    width: 60%;
    margin-bottom: 0px;
  }

  .general-task:nth-child(4) {
    width: 40%;
    margin-bottom: 0px;
  }

  .lab-sex {
    float: left;
    width: 100%;
    height: 50px;
  }


  .rpr-comment {
    width: 100%;
  }

  .rdt-test {
    width: 25%;
  }

  /* .rdt-test:nth-of-type(n+1):nth-of-type(-n+2) {
    width: 50%;
  } */
  .rdt-test:nth-of-type(1),
  .rdt-test:nth-of-type(2) {
    width: 50%;
  }

  .rdt-test:nth-of-type(3) {
    width: 22%;
    padding-right: 0px;
  }

  .rdt-test:nth-of-type(4) {
    width: 33%;
    padding-right: 0px;
  }


  .rdt-test:last-of-type {
    width: 45%;
  }

  .lab-date {
    width: 58%;
  }

  .tire_lastVisit {
    width: 42%;
  }

  .lab-counsellor {
    width: 42%;
    padding-right: 0px;
  }

  .sti-table tbody tr td .form-select {
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
  }

  .hbc-test {
    width: 50%;
  }

  .urine-analyzer div {
    width: 38%;
  }

  .urine-analyzer div:nth-of-type(2) {
    width: 32%;
  }

  .urine-analyzer div:nth-of-type(3) {
    width: 30%;
  }

  #urine div:nth-child(n+1):nth-child(-n+4) div {
    width: 50%;
  }

  #urine div:nth-child(4) div:last-of-type {
    width: 100%;
  }

  #urine div:nth-child(n+1):nth-child(-n+4) div select {
    padding: 0px;
  }


  .oi-tb {
    width: 50%;
  }

  .oi-tb label {
    text-align: center;
  }

  .oi-tb select {
    width: 100%;
  }

  .oi-toxoanti {
    width: 50%;
  }

  #oi div:nth-child(1) div,
  #gt div:nth-child(1) div,
  #stool div:nth-child(1) div {
    width: 50%;
  }


  .oi-dilu {
    width: 40%;
    margin-bottom: 10px;
  }

  .oi-giemsa {
    width: 100%;
  }

  .gt-homodl,
  .gt-hba1c,
  .gt-result {
    width: 50%;
  }

  .oi-csf,
  .oi-serum,
  .oi-lymph,
  .oi-smear {
    width: 59%;
  }

  .oi-indLink {
    justify-content: left;
  }

  .gt-sgs {
    width: 33%;
  }

  .gt-sgs select {
    padding: 0px;
  }

  .gt-dangueRdt {
    width: 28%;
  }

  .gt-ns1 {
    width: 22%;
  }

  .gt-rdt {
    width: 50%;
  }

  .gt-malria {
    width: 100%;
  }

  .gt-malria label {
    text-align: left;
  }

  .gt-malria select {
    width: 30%;
  }

  #stDrow_1 div:nth-of-type(1) {
    width: 100%;

  }

  #stDrow_1 div:nth-of-type(1) label {
    text-align: center;
  }

  #stDrow_1 div:nth-of-type(1) select {
    width: 100%;
  }

  #stDrow_2 div {
    width: 100%;
  }


  #afb div:nth-child(1) div {
    width: 100%;
  }

  #afb div:nth-child(2) div {
    width: 50%;
  }

  .afb-reasonExam {
    width: 100%;
  }

  .afb-reasonExam input {
    width: 100%;
  }

  .afb-reasonExam label {
    text-align: center;
  }

  .afb-sample div {
    width: 50%;
    margin-right: 0px;
  }

  .afb-slidedata .col-sm-4:first-child,
  .afb-slide .col-sm-4:first-child,
  .afb-sample .col-sm-4:first-child {
    margin-right: 0%;
  }


  .afb-reasonRow {
    justify-content: center;
  }

  .afb-previous {
    width: 33%;
  }

  .afb-reasonRow div:nth-of-type(n+3) {
    width: 50%;
  }

  .afb-diagnosis {
    width: 50%;
  }

  .afb-slide div,
  .afb-slidedata div {
    width: 50%;
  }

  .afbslide-date div {
    width: 60%;
  }

  .covid-age {
    width: 33.33%;
  }

  /* .covid-age input {
  width: 80%;
} */
  .covid-tpatient {
    width: 65.777%;
  }

  /* .covid-tpatient input {
  width: 41%;
} */
  .covid-testType {
    width: 50%
  }

  .covid-comment {
    width: 50%;
  }

  .viralLoad-arso:nth-child(odd) {
    width: 57%;
  }

  /* .viralLoad-arso:nth-child(1) label {
  text-align: left;
} */
  .viralLoad-arso:nth-child(even) {
    width: 43%;
  }

  .viralLoad-arso:last-of-type {
    width: 100%;
  }

  .viralLoad-dateResult div:nth-child(even) {
    width: 43%;
  }

  .viralLoad-dateResult div:nth-child(odd) {
    width: 57%;
  }

  .viralLoad-dateResult div:last-of-type {
    width: 100%;
  }

  .viralLoad-arso {
    margin-bottom: 10px;
  }

  .finder-table {
    padding: 0px;
    color: rgb(241, 246, 245);
  }

  .finder-table table {
    font-size: 13px;
  }

  .finder-row {
    justify-content: center;
  }

  .finder-row div:nth-of-type(2) {
    width: 56%;
  }


  .lab-technician {
    width: 42%;
    margin-right: 0%;
    padding-right: 0px;
  }

  .save-updte button {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  .btn-stiList {
    /* right: 4.65%; */
    position: relative;
    /* top: 20.398px; */
    width: 19.2px;
    height: 16.804px;
    z-index: 3;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
  }

  .btn-stiList span {
    position: absolute;
    width: 19.2px;
    height: 2.404px;
    background: #28a745;
    border-radius: 12.004px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  .btn-stiList span:nth-child(1) {
    top: 0;
  }

  .btn-stiList span:nth-child(2) {
    top: 6px;
  }

  .btn-stiList span:nth-child(3) {
    top: 12px;
  }

  .btn-stiList.hb-open {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .btn-stiList.hb-open span {
    background: #77e326;
    width: 19.2px;
    height: 2.404px
  }

  .btn-stiList.hb-open span:nth-child(1) {

    transform: translateY(24px) rotate(-45deg);
    -webkit-transform: translate(-2.404px, 7.204px) rotate(50deg);
    width: 19.2px;
    bottom: 0px;
    top: 0px;
    right: 1px;
  }

  .btn-stiList.hb-open span:nth-child(2) {
    transform: translate(-3.602px) rotate(126deg);
    width: 19.2px;
    top: 7px;
  }

  .btn-stiList.hb-open span:nth-child(3) {
    opacity: 0;
  }

  .sti-diseaseTest {
    display: block;
    position: absolute;
    left: -300px;
    background-color: #003865;
    z-index: 20;
    text-align: center;
    padding-left: 0px;

  }

  .clue,
  .pmnl,
  .trich,
  .gram-intra,
  .gram-extra,
  .candida,
  .spermatazoites {
    display: none;
  }

  .sti-diseaseTest li {
    display: block;
    color: #D4F6CC;
    padding: 5px 0px;
    border: 1px solid #38ed80;

  }

  .sti-wet,
  .sti-grim {
    width: 50%;
    border: 1px solid;
  }

  .wet-label,
  .gram-label {
    border-bottom: 2px solid #dae4e9;

  }

  .no-label {
    margin-top: 35px;
  }

  .labsti-list {
    display: block;
  }

  .stiLab-UrineExam div:nth-child(even) {
    width: 63%;
  }

  .stiLab-UrineExam div:nth-child(odd) {
    width: 37%;
  }

  .stiLab-UrineExam div:first-child,
  .stiLab-UrineExam div:last-child {
    width: 100%;
    justify-content: center;
  }

  .stiLab-UrineExam div:first-child select {
    width: 50%;
    margin: 0px 25%;

  }

  .onlySti-mobile {
    display: none;
  }




}